/* page inicio */
main{
  height: 100%;
}

/* Hero */
.hero {
  height: 100%;
  margin: auto;
  flex: 0.5;                       /* flex-1 */
  display: flex;                 /* flex */
  flex-direction: row;        /* flex-col */
  align-items: center;           /* items-center */
  justify-content: center;       /* justify-center */

}
/* Texto */
.hero-texto {
  flex: 1.5;
  text-align: left;            /* text-center */
}

.hero-texto h1 {
  font-size: 48px;           /* text-3xl */
  font-weight: bold;             /* font-bold */
  margin-bottom: 1rem;           /* mb-4 */
}

.hero-texto h1 span {
  color: var(--color-primario);                /* text-cyan-400 */
}

.hero-texto p {
  font-size: 40px;            /* text-xl */
}

/* Imagen */
.hero-imagen {
  flex: 1;
  display: flex;
  height: 466px;
  width: 311px;
  justify-content: right;       /* justify-center */
  margin-top: 2.5rem;            /* mt-10 */
}

/* fin inicio  */

/* 📱 Hero responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .hero-texto {
    flex: unset;
    margin-bottom: 20px;
  }

  .hero-texto h1 {
    font-size: 36px;
  }

  .hero-texto p {
    font-size: 24px;
  }

  .hero-imagen {
    justify-content: center;
    height: auto;
    width: 80%;
    margin-top: 0;
  }

  .hero-imagen img {
    width: 100%;
    height: auto;
    max-width: 300px;
  }
}
